// --------------------------
// --- VARIABLES & MIXINS ---
// --------------------------

$color-black: #000;
$color-black-light: rgb(44, 44, 44);

$color-white: #fff;
$color-white-dark: rgb(177, 176, 176);

$color-grey: rgb(240, 238, 238);

$color-green: #D2F830;
$color-green-2: #49D85A;

$color-red: #D84949;





// --------------------------
// ---------- BASE ----------
// --------------------------

html {
    font-size: 62.5%; // 1rem = 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    color: $color-black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}




// --------------------------
// --------- LAYOUT ---------
// --------------------------

.main-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100vw;
}

.header {
    grid-column: 1 / 13;

    background-color: $color-black;
    color: $color-white;
    padding: 1.5rem 1rem;


    
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 30%;
        margin-right: auto;
    }

    &__center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: space-evenly;
        flex: 0 0 30%;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 0 0 30%;
        
    }
    
    &__home {

    }

    &__name {
        font-size: 2.5rem;
        font-weight: 300;
        color: $color-green;
        text-transform: uppercase;
        letter-spacing: .3rem;

    }

    &__search {
       flex: 0 0 70%; 
       
       &-input {
            width: 100%;
            background-color: $color-black-light;
            color: $color-white;
            font-size: 1.4rem;
            padding: .5rem;
            border-radius: 2rem; 
            border: none;
            text-align: center;

            &:focus { outline: none; }

            &::placeholder {
                color: $color-white-dark;
            }
       }

    }

    &__filter {
        font-size: 1.4rem;
        letter-spacing: .2rem;
        margin-right: -1rem;
        cursor: pointer;
        transition: all .3s;

        display: flex;

        &:hover {
            color: $color-green;
        }
    }
}



.filter {
    grid-column: 3 / 13;
    background-color: $color-white;
    padding: 1rem;
    box-shadow: 0 1rem 1rem rgba($color-black, .2);
    display: none;

    

    &__list {
        display: flex;
        justify-content: space-evenly;
    }

    &__item {
        list-style-type: none;
        font-size: 1.4rem;
        
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__label {
        border-bottom: 2px solid $color-black;
        padding: .5rem;
        padding-bottom: 0;
        text-align: center;

        flex: 0 0 70%;
    }

    &__dropdown,
    &__number {
        margin-top: 1rem;
        flex: 0 0 70%;
    }
}




.btn {
    align-self: center;
    border: none;
    border-radius: 2rem;
    width: 10%;
    padding: .75rem;
    background-color: rgb(247, 195, 55);
    color: $color-white;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s;

    &:hover {
        background-color: $color-black;
        width: 11%;
    }

    &--clear {
        background-color: $color-red;
    }
}







.sidebar {
    grid-column: 1 / 3;
    background-color: $color-black;
    color: $color-white;
    padding: 1.5rem 0;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__logo-box {
       
    }

    &__logo-icon {
        fill: $color-white;
        width: 10rem;
    }

    &__navigation {
        width: 100%;

    }

    &__item {
        background-color: $color-white;
        list-style-type: none;
        padding: 1rem;
        padding-left: 3rem;
        transition: background-color .3s;
       
        border: .05rem solid $color-black;
        border-right: none;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:hover {
            background-color: $color-green-2;
        }

        &:active {
            background-color: $color-green;
        }
    }

    &__link {
        text-decoration: none;
        color: $color-black;
        font-size: 1.6rem;

    }

    &__social {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
  
    }
}




.main {
    grid-column: 3 / 13;
    background-color: $color-grey;
   

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 6rem;
        grid-row-gap: 8rem;
        
        padding: 6rem 4rem;
        
    }

    &__card {
        width: 100%;
        

        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s;

        &:hover {
            transform: translateY(-.7rem);
        }

    }

    &__image-box {
        background-color: $color-white;
        box-shadow: 2rem 2rem 2rem rgba($color-black, .2);
        padding: 2rem 0;
        cursor: pointer;
        width: 80%;

        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__image {
        width: 100%;

    }


    &__in-stock,
    &__out-stock {
        margin-top: 1rem;
        padding: 1rem;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        
        &--circle {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
       }
    
        &--text {
            font-size: 1.4rem;
            font-weight: 700;
            margin-left: 1rem;
        }
    }

    &__in-stock--circle { background-color: $color-green-2;}
    &__in-stock--text { color: $color-green-2; }

    &__out-stock--circle { background-color: $color-red;}
    &__out-stock--text { color: $color-red; }


    &__price {
        margin-top: 1rem;
        padding: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        
        &--new { 
            color: $color-red;
            margin-right: 1rem;
        }

        &--old { text-decoration: line-through; }
    }
}



.icon {
    font-size: 2.7rem;

    &:not(:last-child) {
        margin-right: 2rem;
    }

    &--black {
        color: $color-black;
    }

    &-social {
        font-size: 2rem;
        color: $color-green;
    }

    &-filter {
        font-size: 2.2rem;
        cursor: pointer;
    }
}




.active {
    background-color: $color-green-2;
}

.shown {
    display: block;
}

.rotate {
    transform: rotate(180deg);
}


.heading__tertiary {
    display: flex;
    flex-wrap: wrap;
    
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 1rem;

    &--bold {
        flex: 0 0 100%;
        font-size: 2.3rem;
    }

    &--thin {
        flex: 0 0 100%;
        font-weight: 300;
        font-size: 1.5rem;
    }
}